@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

:root {
  --clr-text-primary: #000000;
  --clr-text-secondary: #979797;
  --clr-active-link: #1d4ed8;
  --clr-header: #d0f7fa;
  --clr-active-tab: #00635b;
  --clr-active-option: #9c4de2;
  --clr-success: #087b2f;
  --clr-danger: #a80000;
  --clr-disabled: #cccccc;
  --clr-background: #f0f0f0;
  --clr-divider: #c4c4c4;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-primary: "Poppins", sans-serif;
  --sidebar-width: 5.75rem;
}

body {
  font: var(--font-weight-semi-bold) 1.25rem / 1 var(--font-primary);
  color: var(--clr-text-primary);
  background-color: var(--clr-background);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
